<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Urben Nest | 404 - Page Not Found</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,600,700">
  <style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    body {
      background-color: #ffffff;
      font-family: 'Poppins', sans-serif;
      color: #2d3748;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .four_zero_four_bg {
      background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
      height: 55vh;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    h1 {
      font-size: 15vh;
      font-weight: 700;
      color: #4a6cf7;
      margin: -4vh 0 1vh;
      letter-spacing: 5px;
      line-height: 1;
    }

    h3 {
      font-size: 3vh;
      font-weight: 600;
      margin: 0 0 1vh;
      color: #3d4852;
    }

    p {
      color: #718096;
      font-size: 2vh;
      line-height: 1.4;
      margin: 0 0 3vh;
      padding: 0 5vw;
    }

    .link_404 {
      color: #ffffff;
      padding: 1vh 3vw;
      background: #4a6cf7;
      display: inline-block;
      border-radius: 50px;
      font-weight: 600;
      font-size: 2vh;
      letter-spacing: 0.5px;
      text-decoration: none;
    }

    .link_404:hover {
      background: #3755d8;
    }
  </style>
</head>
<body>
  <div class="four_zero_four_bg"></div>
  <h1>404</h1>
  <h3>Oops! This page flew the nest.</h3>
  <p>We couldn't find what you were looking for in Urben Nest.</p>
  <a href="/" class="link_404">Back to Home</a>
</body>
</html>