<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Urben Nest | 404 - Page Not Found</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,600,700">
  <style>
    body {
      background-color: #ffffff;
      font-family: 'Poppins', sans-serif;
      color: #2d3748;
      text-align: center;
      padding: 40px 20px;
      margin: 0;
    }

    .four_zero_four_bg {
      background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
      height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 auto;
      max-width: 800px;
    }

    h1 {
      font-size: 120px;
      font-weight: 700;
      color: #4a6cf7;
      margin: -60px 0 30px;
      letter-spacing: 5px;
    }

    h3 {
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 20px;
      color: #3d4852;
    }

    p {
      color: #718096;
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 30px;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    .link_404 {
      color: #ffffff;
      padding: 12px 30px;
      background: #4a6cf7;
      display: inline-block;
      border-radius: 50px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-decoration: none;
    }

    .link_404:hover {
      background: #3755d8;
    }
  </style>
</head>
<body>
  <div class="four_zero_four_bg"></div>
  <h1>404</h1>
  <h3>Oops! This page flew the nest.</h3>
  <p>We couldn't find what you were looking for in Urben Nest.</p>
  <a href="/" class="link_404">Back to Home</a>
</body>
</html>