<%- include("../../views/partials/user/header", { currentPage: 'verifyOTP' }) %>

<section class="content-main" style="margin-top: 80px; margin-bottom: 80px;">
    <div class="card mx-auto card-login col-4">
        <div class="card-body">
            <h4 class="card-title mb-4">Verify OTP</h4>
            <form method="post" action="/verify-otp" onsubmit="return validateOTPForm()">
                <div class="mb-3">
                    <input class="form-control" name="otp" placeholder="Enter OTP" type="text" id="otp">
                    <div class="error-message" id="otp-error"></div>
                </div>
                <div class="mb-4">
                    <button type="submit" class="btn btn-primary w-100">Verify OTP</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    function validateOTPForm() {
        const otpInput = document.getElementById('otp');
        const otpError = document.getElementById('otp-error');
        const otpValue = otpInput.value.trim();

        if (otpValue === '') {
            otpError.textContent = 'Please enter OTP';
            otpInput.classList.add('is-invalid');
            return false;
        } else if (!/^\d{6}$/.test(otpValue)) {
            otpError.textContent = 'Please enter a valid 6-digit OTP';
            otpInput.classList.add('is-invalid');
            return false;
        }
        return true;
    }
</script>

<%- include("../../views/partials/user/footer") %>